<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="6.7" name="KTY-OS" displayname="KTY OS for K3S">
    <description type="system">
        <author>Peifeng Lin</author>
        <contact>pflin@suse.com</contact>
        <specification>KTY OS for k3s</specification>
    </description>
    <profiles>
        <profile name="bootloader" description="Bootloader files for x86_64 and aarch64"/>
        <profile name="SelfInstall" description="Self Installing Image" arch="x86_64">
           <requires profile="bootloader"/>
        </profile>
    </profiles>
    <preferences profiles="SelfInstall">
        <version>16.0.0</version>
        <packagemanager>zypper</packagemanager>
        <bootsplash-theme>SLE</bootsplash-theme>
        <bootloader-theme>SLE</bootloader-theme>
        <rpm-excludedocs>true</rpm-excludedocs>
        <locale>en_US</locale>
        <type
            image="oem"
            filesystem="xfs"
            bootloader="grub2"
            bootloader_console="gfxterm"
            initrd_system="dracut"
            installiso="true"
	    kernelcmdline="quiet systemd.show_status=yes console=ttyS0,115200 console=tty0 net.ifnames=0"
	    bootpartition="false"
            bootkernel="custom"
            devicepersistency="by-uuid"
	    spare_part="5G" spare_part_mountpoint="/var" spare_part_fs="xfs" spare_part_is_last="false"
        >
            <oemconfig>
                <oem-systemsize>20480</oem-systemsize>
                <oem-swap>true</oem-swap>
		<oem-swapsize>4096</oem-swapsize>
                <oem-device-filter>/dev/ram</oem-device-filter>
                <oem-multipath-scan>false</oem-multipath-scan>
            </oemconfig>
            <machine memory="512" guestOS="suse" HWversion="4">
                <vmdisk id="0" controller="ide"/>
                <vmnic driver="e1000" interface="0" mode="bridged"/>
            </machine>
        </type>
    </preferences>
   <users>
    <user password="$1$wYJUgpM5$RXMMeASDc035eX.NbYWFl0" home="/root" name="root" groups="root"/>
  </users>
   <repository alias="SLES_15_SP2_x86_64" type="rpm-md" priority="99">
    <source path="http://192.168.100.1/sles15sp2/Product-SLES/"/>
  </repository>
   <repository alias="Module-Basesystem" type="rpm-md" priority="99">
    <source path="http://192.168.100.1/sles15sp2/Module-Basesystem/"/>
  </repository>
   <repository alias="Module-Server-Applications" type="rpm-md" priority="99">
    <source path="http://192.168.100.1/sles15sp2/Module-Server-Applications/"/>
  </repository>
   <repository alias="Product-HA" type="rpm-md" priority="99">
    <source path="http://192.168.100.1/sles15sp2/Product-HA/"/>
  </repository>
   <repository alias="Module-Development-Tools" type="rpm-md" priority="99">
    <source path="http://192.168.100.1/sles15sp2/Module-Development-Tools/"/>
  </repository>
   <packages type="image" profiles="bootloader">
      <package name="grub2-i386-pc" arch="x86_64"/>
      <package name="grub2-x86_64-efi" arch="x86_64"/>
      <package name="grub2-arm64-efi" arch="aarch64"/>
      <package name="grub2-branding-SLE" bootinclude="true"/>
      <package name="shim" arch="x86_64"/>
      <package name="mokutil" arch="x86_64"/>
    </packages>
    <packages type="image">
        <package name="checkmedia"/>
        <package name="patterns-base-enhanced_base"/>
        <package name="plymouth-branding-SLE-15"/>
        <package name="plymouth-dracut"/>
        <package name="grub2-branding-SLE-15"/>
        <package name="iputils"/>
        <package name="vim"/>
        <package name="grub2"/>
        <package name="grub2-x86_64-efi" arch="x86_64"/>
        <package name="grub2-i386-pc"/>
        <package name="syslinux"/>
        <package name="lvm2"/>
        <package name="plymouth"/>
        <package name="fontconfig"/>
        <package name="fonts-config"/>
        <package name="tar"/>
        <package name="parted"/>
        <package name="openssh"/>
        <package name="iproute2"/>
        <package name="less"/>
        <package name="bash-completion"/>
        <package name="dhcp-client"/>
        <package name="which"/>
        <package name="shim"/>
        <package name="kernel-default"/>
        <package name="timezone"/>
	<package name="glibc-locale-base"/>
        <package name="ca-certificates"/>
	<package name="firewalld"/>
	<package name="system-group-hardware"/>
	<package name="rsyslog"/>
	<package name="rear23a"/>
    </packages>
    <packages type="image" profiles="SelfInstall">
        <package name="dracut-kiwi-oem-repart"/>
        <package name="dracut-kiwi-oem-dump"/>
        <package name="kernel-firmware"/> 
    </packages>
    <packages type="bootstrap">
        <package name="filesystem"/>
    </packages>
</image>

